@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply: font-mono
}

.counterMain {
    @apply: bg-grey-500 p-4 text-white
}

.counterBtn {
    @apply: py-3 text-white font-semibold w-1/2 m-auto mb-2 rounded-md block
}

#increment-btn {
    background: darkgreen;
}

#decrement-btn {
    background: darkred;
}

#save-btn {
    background: blue;
}